#show-more{
    float:right;
}

#show-less{
    float:left;
}

.text-block{
    padding:10px;
    border-radius: 5px;
    margin-bottom:10px;
}

#main-text{
    border: 2px solid rgb(81, 157, 207);
}

#original-comment{
    border:2px solid rgb(197, 62, 85);
}

.context-block{
    border:2px solid black;   
    transition: 350ms ease-in-out, opacity 750ms ease-in-out;
}

.type-tag{
    color: rgb(131, 131, 131);
}

table.entities{
    table-layout: fixed;
    border: 1px solid black;
    border-radius: 5px;
    padding:10px;
    margin-bottom: 10px;
}

.entities td,
.entities th{
    width:200px;
    text-align: center;
}

table.info-table{
    table-layout: fixed;
    border: 1px solid black;
    padding:10px;
    width:100%;
    border-collapse: collapse;
    /* border-spacing: 100px; */
}

.info-table .header{
    font-weight: bold;
}

.info-table .label{
    width:110px;
}

.info-table .value{
    width:100%;
}


.info-table tr,
.info-table td,
.info-table th{
    padding:5px;
    text-align:center;
    border: 1px solid black;
}

.flex-container{
    display:flex
}

.flex-left{
    flex:1.2;
}

.flex-right{
    flex:0.8;
    flex-direction: column;
    display:flex;
    align-items:center;
    margin:5px;
}

.flex-left-input{
    flex:0.9;
}

.flex-right-input{
    flex:1.2;
    flex-direction: column;
    display:flex;
    align-items:center;
    margin:5px;
}

button{
    width: 60px;
    color:black;
    background-color: white;
    border-radius: 5px;
    border:1px black solid;
}
button:hover{
    cursor:pointer;
}

.entity{
    border:1px solid black;
    border-radius: 3px;
    height: 22px;
    width: 150px;   
    text-align: center;
    position: absolute;
    background: white;
    z-index: 2;
    /* display:flex; */
    padding-top: 2px;
}
.entityname{
    z-index:3;
}

.entity:hover{
    cursor: pointer;
}

.scores-area{
    margin-top: 10px;
}

.trig-button{
    stroke:rgb(133, 133, 133);
    stroke-width: 12;
    stroke-linecap: butt;
}

.trig-button.button-filled{
    stroke:rgb(112, 213, 238);
}

.back-hilight{
    stroke:rgb(236, 116, 116);
    stroke-width: 15;
    stroke-linecap: butt;
}

.trig-button:hover{
    cursor: pointer;
}

svg {
    width:400px;
    height:150px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
}

.graph-container{
    /* width:700px; */
    width:100%;
    height:150px;
    /* margin: 10px; */
    /* display: flex; */
    position: relative;
    border: 1px solid black;
    border-radius: 10px;
}

.select-score{
    width:100%;
    display:flex;
    flex-direction: column;
    align-items: center;
}

input[type=checkbox]{
    transform:scale(2);
    margin-right: 10px;
    border-radius: 50%;
}

.checkbox{
    display: flex;
    margin-top: 5px;
    margin-bottom: 5px;
    flex-direction: row;
}

.score-title{
    text-align: center;
}

.slider-box{
    display:flex;
    flex-direction: row;
    justify-content: center;
    width:100%;
}

.slider-box a{
    display:flex;
    align-items: center;
    font-size: small;
}

.button{
    text-align: center;
    font-weight: 200;
    background-color: white;
    border: black 1px solid;
    border-radius: 3px;
    width:100px;
    height:35px;
}

.button:hover{
    cursor: pointer;
}

.confirmation{
    margin:20px 20px;
    font-size:large;
    font-weight:bold;
}

#confirm-code{
    color:rgb(71, 132, 245);
}