#show-more{
    float:right;
}

#show-less{
    float:left;
}

.text-block{
    padding:10px;
    border-radius: 5px;
    margin-bottom:10px;
}

#main-text{
    border: 2px solid rgb(81, 157, 207);
}

#original-comment{
    border:2px solid rgb(197, 62, 85);
}

.context-block{
    border:2px solid black;   
}

table.entities{
    border: 1px solid black;
    border-radius: 5px;
    padding:10px;
    margin-bottom: 10px;
}

.entities td,
.entities th{
    width:200px;
    text-align: center;
}

table.info-table{
    border: 1px solid black;
    padding:10px;
    border-collapse: collapse;
    /* border-spacing: 100px; */
}

.info-table tr,
.info-table td,
.info-table th{
    padding:5px;
    text-align:center;
    border: 1px solid black;
}

.flex-container{
    display:flex
}

.flex-left{
    flex:1.2;
}

.flex-right{
    flex:0.8;
    flex-direction: column;
    display:flex;
    align-items:center;
}

li.title{
    border-bottom: 2px solid black;
    padding-bottom: 2px;
    margin-bottom:5px;
    text-align: center;
}

/* draggable targets */
.drag-container{
    float:left;
    list-style-type:none;
    height:180px;
    margin:0 0.5em 0.5em 0;
    padding:0.5em;
    border:2px solid #888;
    border-radius:0.2em;
    background: white;
}

.no-pref{
    width:120px;
}

.ranking-container{
    width:500px;
}

[data-draggable="target"]{
    list-style-type:none;
    padding-left:0px;
    height:150px;
}

/* draggable items */
.drag-box{
    display:block;
    width:80px;
    margin-top:1px;
    margin-bottom:1px;
    margin-left: 2px;
    padding:0.2em 0.4em;
    padding-left:2px;
    text-align: center;
    border-radius:0.2em;
    border:1px solid black;
    color: black;
    background:rgb(161, 210, 238);
    line-height:1.3;
    float:left;
    user-select: none;
}

[data-draggable="item"]:hover{
    cursor: pointer;
}

.drag-input{
    display:none;
}

.one-rank{
    border:2px solid gray;
    border-radius: 0.2em;
    height:30px;
    margin-bottom:5px;
}

.rank-title{
    float:left;
    width:30px;
    height:30px;
    text-align: center;
    margin-top:5px;
}

.no-pref-block{
    margin-left:10px;
}

.rank-placeholder{
    float:left;
    width:450px;
    height:30px;
    text-align: center;
    margin-top:5px;
    color: gray;
    user-select: none;
}