

#show-more{
    float:right;
}

#main-text{
    padding:5px;
}

table.entities{
    border: 1px solid black;
    border-radius: 5px;
    padding:10px;
    margin-bottom: 10px;
}

.entities td,
.entities th{
    width:200px;
    text-align: center;
}

table.info-table {
    border: 1px solid black;
    padding:10px;
    border-collapse: collapse;
    /* border-spacing: 100px; */
}

.info-table tr,
.info-table td,
.info-table th{
    padding:5px;
    text-align:center;
    border: 1px solid black;
}

p.context-block{
    padding:3px;
}

p:not(:last-child){
    border-bottom:1px solid rgb(81, 157, 207);
}

.flex-container{
    display:flex
}

.flex-left{
    flex:1.2;
}

.flex-right{
    flex:0.8;
    flex-direction: column;
    display:flex;
    align-items:center;
}

crowd-radio-button {
    background-color: #ffffff; 
    border: 1px solid rgb(0, 0, 0);
    color: rgb(0, 0, 0); 
    padding: 10px; 
    width:100%;
    cursor: pointer;
    display: block;
    border-radius: 5px;
}
  
  
  /* Add a background color on hover */
.btn-group button:hover {
    background-color: #8b8b8b;
}