li.title{
    border-bottom: 2px solid black;
    padding-bottom: 2px;
    margin-bottom:5px;
    text-align: center;
}

/* draggable targets */
.drag-container{
    float:left;
    list-style-type:none;
    height:200px;
    margin:0 0.5em 0.5em 0;
    padding:0.5em;
    border:2px solid #888;
    border-radius:0.2em;
    background: white;
}

.no-pref{
    width:120px;
}

.ranking-container{
    width:500px;
}

[data-draggable="target"]{
    list-style-type:none;
    padding-left:0px;
    height:150px;
}

/* draggable items */
.drag-box{
    display:block;
    width:80px;
    margin-top:1px;
    margin-bottom:1px;
    margin-left: 2px;
    padding:0.2em 0.4em;
    padding-left:2px;
    text-align: center;
    border-radius:0.2em;
    border:1px solid black;
    color: black;
    background:rgb(161, 210, 238);
    line-height:1.3;
    float:left;
    user-select: none;
}

[data-draggable="item"]:hover{
    cursor: pointer;
}

.drag-input{
    display:none;
}

.one-rank{
    border:2px solid gray;
    border-radius: 0.2em;
    height:30px;
    margin-bottom:5px;
}

.rank-title{
    float:left;
    width:30px;
    height:30px;
    text-align: center;
    margin-top:5px;
}

.no-pref-block{
    margin-left:10px;
}

.rank-placeholder{
    float:left;
    width:450px;
    height:30px;
    text-align: center;
    margin-top:5px;
    color: gray;
    user-select: none;
}